<div>
	<div><h3 style="color:red; font-family: helvetica;">tell me, huney</h3></div>
	<form ng-submit="addStory()">
		<input type = "text" ng-model = "inputStory" placeholder="..."/>
		<input type="submit" />
	</form>
	 <div ng-repeat="stories in data.data.data | orderBy: ['-upVotes']">
	        <p><em>the lowdown:</em> <br />{{ stories.story }}</p>
	        <p>{{ stories.createdDate }}</p>
	        <p>{{ stories.upVotes }} </p>
	   <!--    	<p ng-model="storiesId">{{stories._id}} </p> -->
	        <button ng-click="upVote(stories._id)">vote</button>
	        
	        <p>{{ stories.location}}</p>
	        <br />
	 </div>
<div>


